interface _somename
{
    exception somename
    {
        string somename;
    }

    somename(string somename); # Should trigger duplicate id error
}
