# Parser test 1: correctly formed input file.
local interface test_module_v1 extends test_v1
{
    type card32 address;

    record dictent {
        string key;
        string value;
    }

    exception failure
    {
        string name;
        int32 value;
    }

    # Creates the initial "MMU".
    create(int32 size)
        returns (test_v1& test, ramtab_v1& ramtab, memory_v1.address free)
        raises (memory_v1.failure);

    idempotent set_flag();

    terminate() never returns;

    # Finish the initialisation of the MMU.
    finish_init(test_v1& test, frames_allocator_v1& frames, heap_v1& heap, stretch_allocator_v1& sysalloc)
        raises (failure);
}
#
# Should generate the following AST:
#
#
