#
# Part of Metta OS. Check http://atta-metta.net for latest version.
#
# Copyright 2007 - 2012, Stanislav Karchebnyy <berkus@atta-metta.net>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
local interface exception_support_v1
{
    ## An exception "E" declared in the meddler interface "I" is identified
    ## by the string "I_E".  An "Id" encodes this string in some
    ## unspecified fashion.
    # Can be an address of that string, for example.

    type memory_v1.address id;

    ## When an exception is raised, it may be accompanied by some
    ## arguments stored in an argument record whose address is
    ## given by an "Args".

    type memory_v1.address args;

    ## Language-level "RAISE" statements translate into calls to "raise".

    raise(id i, args a, string filename, card32 lineno, string funcname) never returns;
}
