#
# Part of Metta OS. Check http://metta.exquance.com for latest version.
#
# Copyright 2007 - 2010, Stanislav Karchebnyy <berkus@exquance.com>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#

# A "closure" is a general purpose type representing an entry-point
# and some associated state.

final interface closure
{
    # A closure has only one operation, that is used to invoke the entry point.
    apply() returns ();
}
