#
# Part of Metta OS. Check https://atta-metta.net for latest version.
#
# Copyright 2007 - 2017, Stanislav Karchebnyy <berkus@atta-metta.net>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
## Metta has a single virtual address space shared by all system
## components.  A system consists of a number of distinct
## entities called domains.  A domain comprises
## a set of access rights to portions of the single address space
## (a protection domain) and some number of threads.  Threads
## are multiplexed by a user-level thread scheduler over the domain's
## virtual processor, the kernel-schedulable entity associated
## with the domain.

local interface domain_v1
{
    ## A domain is identified by an id.  The domain id "0" is reserved
    ## to mean a non-existant or invalid domain id.
    type card64 id;
}
