#
# Part of Metta OS. Check https://atta-metta.net for latest version.
#
# Copyright 2007 - 2017, Stanislav Karchebnyy <berkus@atta-metta.net>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
# MMU module creates and initializes MMU instance.

local interface mmu_module_v1
{
    # Creates the initial "MMU". The "pmem" parameter describes the
    # physical address space of the machine, while the "init"
    # parameter specifies all existant virt-to-phys mappings.
    # These may be modified.
    # An allocation of "size" addressable bytes is requested.
    # If successful, a "MMU" is returned along with the handle on a
    # "RamTab" (for use by the "Frames" allocator) and an address
    # where "size" addressable bytes have been allocated.
    create(card32 size)
        returns (mmu_v1& mmu, ramtab_v1& ramtab, memory_v1.address free)
        raises (memory_v1.failure);

    # Finish the initialisation of the MMU.
     finish_init(mmu_v1& mmu, frame_allocator_v1& frames, heap_v1& heap, stretch_allocator_v1& sysalloc);
}
