local interface naming_context_v1
{
    needs heap, type, word_table;

    exception not_found { string name; }
    exception not_context {}
    exception exists {}
    exception denied {}

    sequence<string> names;

    -- List all available names in a current context.
    list()=>(names nl) raises heap.no_memory;

    -- "Get" maps pathnames to objects relative to the current context.
    get(string name, out type.any obj)=>(bool present) raises not_context, denied;

    add(string name, in type.any obj)=>() raises exists, not_context, not_found, denied;
    remove(string name)=>() raises not_context, not_found, denied;

    duplicate(heap& h, word_table& xlat)=>(naming_context_v1& copy) raises heap.no_memory, denied;

    destroy()=>() raises denied;
}

local interface naming_context_v2 extends naming_context_v1
{
}
