#
# Part of Metta OS. Check http://metta.exquance.com for latest version.
#
# Copyright 2007 - 2012, Stanislav Karchebnyy <berkus@exquance.com>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
local interface pervasives_v1
{
    record rec
    {
        heap_v1& heap;
        system_stretch_allocator_v1& stretch_allocator; # FIXME: don't expose system_ part though!
        stretch_driver_v1& stretch_driver;
        type_system_f_v1& types;
        exception_support_setjmp_v1& exceptions;
    }
}
