#
# Part of Metta OS. Check http://metta.exquance.com for latest version.
#
# Copyright 2007 - 2012, Stanislav Karchebnyy <berkus@exquance.com>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
# Protection Domains represent a mapping from the set of all virtual addresses to a set of protection rights
# (as specified in "stretch_v1.if"). They are created and destroyed via the "MMU" interface.
#
# Protection Domains at present have no methods, but they do define a type "ID", which is an opaque 'handle' 
# on the protection domain. This handle is used for invocations on the glue, or other system services.

local interface protection_domain_v1
{
   # Every protection domain has a unique identifier of type "ID"
   # There is a distinguished value "NULL_PDID" which is guaranteed 
   # never to be a valid protection domain identifier.
   type int32 id; # opaque
}
