#
# Part of Metta OS. Check http://metta.exquance.com for latest version.
#
# Copyright 2007 - 2011, Stanislav Karchebnyy <berkus@exquance.com>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
local interface ramtab_v1
{
    enum { unused, mapped, nailed } state_e; # problem: state clashes with state field in closure
    
    # "Size" returns the total number of frames handled by this interface.
    size() returns (memory_v1.size maxpfn);
    # "Base" returns the base address of the ramtab. 
    base() returns (memory_v1.address base);

    # "Put" sets the owner, width, and state of a given physical frame.
    put(card32 pfn, card32 owner, card32 fwidth, state_e st);

    # "Get" reads the owner, width, and state of a given physical frame.
    get(card32 pfn) returns (card32 owner, card32 fwidth, state_e st);
}

# kate: indent-width 4; replace-tabs on;
# vim: set et sw=4 ts=4 sts=4 cino=(4 :
