#
# Part of Metta OS. Check http://atta-metta.net for latest version.
#
# Copyright 2007 - 2012, Stanislav Karchebnyy <berkus@exquance.com>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
local interface ramtab_v1
{
    enum state { unused, mapped, nailed }
    
    # "size" returns the total number of frames handled by this interface.
    size() returns (memory_v1.size max_frame_number);
    # "base" returns the base address of the ramtab. 
    base() returns (memory_v1.address base);

    # "put" sets the owner, width, and state of a given physical frame.
    put(memory_v1.size phys_frame_number, card32 owner, card32 frame_width, state st);

    # "get" reads the owner, width, and state of a given physical frame.
    get(memory_v1.size phys_frame_number) returns (card32 owner, card32 frame_width, state st);
}
