#
# Part of Metta OS. Check https://atta-metta.net for latest version.
#
# Copyright 2007 - 2017, Stanislav Karchebnyy <berkus@atta-metta.net>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
local interface stretch_table_module_v1
{
    # Return a "table" allocated in "heap"
    create(heap_v1& heap) returns (stretch_table_v1& table) raises (heap_v1.no_memory);
}
