local interface stretch_table_module_v1
{
    # Return a "table" allocated in "heap"
    create(heap_v1& heap) returns (stretch_table_v1& table) raises (heap_v1.no_memory);
}
