#
# Part of Metta OS. Check http://atta-metta.net for latest version.
#
# Copyright 2007 - 2012, Stanislav Karchebnyy <berkus@exquance.com>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
local interface stretch_allocator_v1
{
    exception failure {}
    
    sequence<memory_v1.size> size_seq;
    sequence<stretch_v1&> stretch_seq;
    
    create(memory_v1.size size, stretch_v1.rights access) returns (stretch_v1& stretch) raises (failure);
    create_list(size_seq sizes, stretch_v1.rights access) returns (stretch_seq stretches) raises (failure);
    create_at(memory_v1.size size, stretch_v1.rights access, memory_v1.address start, memory_v1.attrs attr, memory_v1.physmem_desc region) returns (stretch_v1& stretch) raises (memory_v1.failure);
    clone(stretch_v1& template_stretch, memory_v1.size size) returns (stretch_v1& stretch) raises (failure);
    destroy_stretch(stretch_v1& stretch) raises (stretch_v1.denied);
    destroy();
}
