#
# Part of Metta OS. Check https://atta-metta.net for latest version.
#
# Copyright 2007 - 2017, Stanislav Karchebnyy <berkus@atta-metta.net>
#
# Distributed under the Boost Software License, Version 1.0.
# (See file LICENSE_1_0.txt or a copy at http://www.boost.org/LICENSE_1_0.txt)
#
## Type system "friends" interface - with access to some privileged capabilities like registering new types.
## Available only to root domain and bootstrap code.

## The "type_system_f" interface provides a means for the runtime loader
## to register new types.

local interface type_system_f_v1 extends type_system_v1
{
	type memory_v1.address interface_info; ## really an "(Intf_st*)" from "TypeSystem_st.h"

	exception name_clash {}
	exception type_code_clash {}

	register_interface(interface_info intf) raises (name_clash, type_code_clash);
}
